<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
        <a href="/">Home |</a>
        <a href="/projects">Projects |</a>
        <a href="">Contact</a>

        <h1>Contact Me!</h1>

        <form action="#" method="post">
            <div class="info">
                <p>Name <input type="text"></p>
                <p>Email <input type="text"></p>
            </div>
            <div class="message">
                <p>Message</p>
                <p><input type="text" ></p>
            </div>
            <p> <input type="submit" value="Send"></p>
            
        </form>
</body>
</html>