<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/style.css">
    <title>A Web Page</title>
</head>
<body>
    <div id="wrapper">

        <a href="/">Home |</a>
        <a href="/projects">Projects |</a>
        <a href="/contact">Contact</a>
        
        <div class="main">
            <h1>About Me</h1>
        </div>

        <div class="content">
            <div class="profile">
                <img src="~/images/this.jpeg" alt="#">
                <p>Jonte R.</p>
                <p>I like to code and cod!</p>
            </div>

            <div class="bio">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nulla porttitor massa id neque aliquam vestibulum morbi blandit cursus. Enim nunc faucibus a pellentesque. Velit euismod in pellentesque massa placerat. Adipiscing elit pellentesque habitant morbi tristique senectus. Consequat ac felis donec et odio pellentesque. In aliquam sem fringilla ut morbi tincidunt augue. Tempus egestas sed sed risus pretium quam vulputate dignissim suspendisse. Maecenas ultricies mi eget mauris pharetra et. Nam at lectus urna duis convallis convallis. Et pharetra pharetra massa massa ultricies. Augue lacus viverra vitae congue eu. Tristique sollicitudin nibh sit amet. Fringilla phasellus faucibus scelerisque eleifend donec. Maecenas accumsan lacus vel facilisis volutpat est velit egestas dui. Egestas tellus rutrum tellus pellentesque eu tincidunt. Felis imperdiet proin fermentum leo vel orci porta. Semper eget duis at tellus at urna condimentum mattis pellentesque. Neque vitae tempus quam pellentesque nec nam. </p>
                <p>Facilisis volutpat est velit egestas dui id. Ornare aenean euismod elementum nisi. Quam vulputate dignissim suspendisse in est ante. Lacus sed viverra tellus in hac habitasse platea dictumst. Risus in hendrerit gravida rutrum. Velit laoreet id donec ultrices. Neque convallis a cras semper auctor neque vitae tempus quam. Curabitur gravida arcu ac tortor. Mauris cursus mattis molestie a iaculis at erat. Aliquam id diam maecenas ultricies mi eget mauris. Nisl nunc mi ipsum faucibus. A diam maecenas sed enim ut sem viverra aliquet eget. A lacus vestibulum sed arcu non odio euismod lacinia at. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus. Congue mauris rhoncus aenean vel elit scelerisque. In fermentum posuere urna nec tincidunt praesent semper. Cursus in hac habitasse platea dictumst quisque sagittis. Neque ornare aenean euismod elementum nisi quis. Turpis nunc eget lorem dolor sed viverra ipsum.</p>
            </div>
        </div>
</div>

</body>
</html>